.form-field {
  @apply w-full;
}

@screen dt {
  .desktop-w-full {
    @apply w-full !important;
  }
}

.stepper-form-wrapper {
  display: grid;
  gap: 20px 48px;
  height: max-content;
  .employee-select-wrap{
    margin-bottom: 0;
  }
  @media (min-width:768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width:768px){
    
      @media (max-width:480px){
        display: flex;
        flex-direction: column;
      }
    gap: 20px 10px;
  }

  .card-label-smaller{
    width: 100%;
  }
}
